---
layout: layout
title: Indypy.github.com
---

<div class="jumbotron">
<h1>Indianapolis Pythoneers (BETA)</h1>
<p class="lead">Indypy is the meetup group for Python programming enthusiasts from the Indianapolis area.</p>
<a class="btn btn-large btn-success" href="#">Attend our next meetup</a>
</div>

<hr>

<div class="row-fluid">
	
	<div class="span4"><!-- meetup column -->
		{% for post in site.categories.meetup limit:3 %}
		  <h2>{{post.title}}</h2>
		  <p>{{post.summary}}</p>
	  	  <p><a class="btn" href="{{post.url}}">View details &raquo;</a></p>
	    {% endfor %}
	</div><!-- span4 -->
	<div class="span4"><!-- project column -->
		{% for post in site.categories.project limit:3 %}
		  <h2>{{post.title}}</h2>
		  <p>{{post.summary}}</p>
	  	  <p><a class="btn" href="{{post.url}}">View details &raquo;</a></p>
	    {% endfor %}
	</div><!-- span4 -->
	<div class="span4"><!-- suggestion column -->
		  <h2>Topic suggestion</h2>
		  <ul>
		  	<li>Pyramid Internals</li>
		  	<li>iPyhton notebook</li>
		  </ul>
	</div><!-- span4 -->
</div>