[[source]]
name = "PyPI"
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
lektor = "*"
pyjade = "*"
webassets = "*"
cssmin = "*"
pip = "*"
jsmin = "*"
jinja2 = "==3.0.2"
idna = "*"

[requires]
python_version = "3.8"
