nav
    ul
        li.home
            a(href="{{ ''|url }}") Home
        li.about
            a(href="") About
            ul
                li.about
                    a(href="{{ '/the-conference'|url }}") The Conference
                li.venue
                    a(href="{{ '/venue'|url }}") Venue
                li.organizers
                    a(href="{{ '/organizers'|url }}") The Team
                li.conduct
                    a(href="/code-of-conduct") Code of Conduct
                li.diversity
                    a(href="/diversity-and-inclusion") Diversity & Inclusion

        li.schedule
            a(href="") Program
            ul
                li.schedule
                    a(href="{{ '/schedule'|url }}") Schedule
                li.talks
                    a(href="{{ '/talks'|url }}") Speakers

        li.sponsors
            a(href="") Sponsors
            ul
                li.sponsors
                    a(href="{{ '/sponsors'|url }}") Our Sponsors
                li.become-a-sponsor
                    a(href="/become-a-sponsor") Become A Sponsor
