nav
    ul
        li.home
            a(href="{{ '/automate'|url }}") Home
        li.about
            a(href="") About
            ul
                li.about
                    a(href="{{ '/automate/the-conference'|url }}") The Conference
                li.venue
                    a(href="{{ '/automate/venue'|url }}") Venue
                li.organizers
                    a(href="{{ '/automate/organizers'|url }}") The Team
                li.conduct
                    a(href="/automate/code-of-conduct") Code of Conduct
                li.diversity
                    a(href="/automate/diversity-and-inclusion") Diversity & Inclusion

        li.schedule
            a(href="") Program
            ul
                li.schedule
                    a(href="{{ '/automate/schedule'|url }}") Schedule
                li.talks
                    a(href="{{ '/automate/talks'|url }}") Speakers

        li.sponsors
            a(href="") Sponsors
            ul
                li.sponsors
                    a(href="{{ '/automate/sponsors'|url }}") Our Sponsors
                li.become-a-sponsor
                    a(href="/automate/become-a-sponsor") Become A Sponsor
