nav
    ul
        li.home
            a(href="{{ '/'|url }}") Home
        li.about
            a(href="#") About
            ul
                li.about
                    a(href="{{ '/indypy'|url }}") IndyPy
                li.organizers
                    a(href="{{ '/organizers'|url }}") The Team
                li.conduct
                    a(href="{{ '/code-of-conduct'|url }}") Code of Conduct
                li.diversity
                    a(href="{{ '/diversity-and-inclusion'|url }}") Diversity & Inclusion
                li.volunteer
                    a(href="{{ '/volunteer'|url }}") Volunteer
                li.archives
                    a(href="{{ '/past-conference-archives'|url }}") Past Conference Archives
        li.sponsors
            a(href="#") Sponsors
            ul
                li.sponsors
                    a(href="{{ '/sponsors'|url }}") Our Sponsors
                li.become-a-sponsor
                    a(href="/become-a-sponsor") Become A Sponsor
        li.donate
            a(href="https://psfmember.org/civicrm/contribute/transact?reset=1&id=8", target="_blank") Donate
        li.contact
            a(href="{{ '/contact'|url }}") Contact
