extends "page.jade"

prepend main_body
    .conduct-violations
        h3 report a violation
        ul
            li: a(href="/code-of-conduct-reporting/") Reporting Guide
            li: a(href="/code-of-conduct-response/") Response Playbook
