extends "base.jade"

block page_title
    |{{ this.title }} &mdash; {{super()}}

block body_class
    |content

block main

    .container
        {{ this.description.html }}
    
    {% include "includes/sponsor_logos.jade" %}
